[submodule "php-src"]
	path = php-src
	url = https://github.com/php/php-src.git
[submodule "v8"]
	path = v8
	url = https://github.com/v8/v8.git
[submodule "node"]
	path = node
	url = https://github.com/nodejs/node.git
